{% extends "base.html" %}

{% block content %}


  <main>

    <!--!&#45;&#45;Carousel Wrapper&ndash;&gt;-->

    <div class="section-header">
      <div class="title_page"> Essay Counselor </div>
    </div>


    <div class="content-section">
      <div class="content-header"> Vision </div>
      <div class="content-body"> Become the leading "platform" that connects you to success </div>
      <br>
      <br>
      <div class="content-header"> Mission </div>
      <div class="content-body">
      SkillSHARE wants to help the younger generation unleash their potential and be ready on the path to global citizenship by connecting with experienced mentors. We believe that, in the era of 4.0, technology can help people eliminate geographical distances, thereby helping you connect with leading advisors not only in the country but anywhere in the world. </div>
    </div>


  </main>

{% endblock content %}


