{% load template_tags %}

<nav class="navbar fixed-top navbar-expand-lg navbar-light blue scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="/">


        <strong class="white-text">
          <font face = "montserrat" size="+2">
          <b> SkillSHARE </b>
          </font>

        </strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">

          <li class="nav-item">
            <a href="/about" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> About </span>
            </a>
          </li>



          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Services
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="/tutor">Tutor</a>
                <a class="dropdown-item" href="/essay-counselor">Essay Counselor</a>
                <a class="dropdown-item" href="/insider">Insider</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <div class="dropdown">
              <a class="nav-link dropdown-toggle"  id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mentor
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'mentor:search' %}">Find a mentor</a>
                <a class="dropdown-item" href="#">Be a mentor</a>
              </div>
            </div>
          </li>

          <li class="nav-item">
            <a href="/" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Blog </span>
            </a>
          </li>


        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a href="{% url 'mentor:user-profile' %}" class="nav-link waves-effect">
              <span class="clearfix d-none d-sm-inline-block"> Account </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_logout' %}">
              <span class="clearfix d-none d-sm-inline-block"> Logout </span>
            </a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_login' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link waves-effect" href="{% url 'account_signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

    </div>
  </nav>