{% extends "base.html" %}

{% block content %}

  <main class="pt-4">
    <fade-transition origin="center" mode="out-in" duration="250">
      <div>
      <div class="section-header">
        <div  class="title_page"></div>
      </div>
      <div  id="info-counselor" class="container">
        <div  class="header-info-counselor">
        <div  class="categories-element col-md-4 col-sm-12">
          <div  class="categories">
            <div  class="services">
              <a  href="#" class="btn badge badge-secondary">Essay Counselor</a>
            </div>
            <div class="services">
              <a href="#" class="btn badge badge-secondary">Strategist</a>
            </div>
          </div>
          <a href="{{ object.linkedin }}">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <div class="avatar-counselor col-md-4 col-sm-12">
          <img  src="{{ object.image.url }}" class="avatar-image">
            <h4  class="name-counselor">{{object.name}}</h4>
            <div  class="counselor-title">{{object.title}}</div>
        </div>
        <div  class="info-address col-md-4 col-sm-12">
          <div  class="container-info-address">
            <div  class="contain-address-time">
              <div class="address-counselor">
                <i class="fa fa-map-marker"></i> {{object.address.state}}, {{object.address.country}}
              </div>
              <div class="start-with-mora">
                <i class="fa fa-history"></i>Join from 2020
              </div>
            </div>
            <a href="/booking?id=5d25ac672d8c4915f7955fc4" class="">
              <button class="booking btn">Booking
                <i class="fa fa-calendar-alt"></i>
              </button>
            </a>
          </div>
        </div>
      </div>
        <div class="content-table col-md-12">
        <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
          <li class="nav-item">
            <a data-toggle="tab" href="#introduce-section">About</a>
          </li>
          <li class="nav-item">
            <a data-toggle="tab" href="#degree-section">Degree</a>
          </li>
          <li class="nav-item">
            <a data-toggle="tab" href="#experience-section">Experience</a>
          </li>
        </ul>
      </div>
      <div class="body-info-counselor">
        <div class="overview col-md-4">
          <div class="overview-info">
            <div class="title-overview">Mentor Overview</div>
            <div class="education-level contain-info">
              <i class="fa fa-graduation-cap icon-elelment"></i>
              <div>
                <span >Highest Education</span>
                <div>{{object.get_degree_display}}</div>
              </div>
            </div>
          </div>
          <div class="service_info">
            <div class="title-overview">Provided Services</div>
             <div>
               <div class="nav-wrapper">
                 <ul id="tabs-icons-text" role="tablist" class="nav nav-pills flex-md-row">
                   <li class="nav-item">
                     <a role="tab" aria-controls="tabs-icons-text-1" class="nav-link mb-sm-3">
                       <i class="fa fa-edit"></i>
                     </a>
                   </li>
                   <li class="nav-item">
                     <a role="tab" aria-controls="tabs-icons-text-1" class="nav-link mb-sm-3">
                       <i class="fa fa-star"></i>
                     </a>
                   </li>
                 </ul>
               </div>
               <div class="card shadow">
                 <div class="card-body">
                   <div id="myTabContent" class="tab-content">
                     <div class="tab-pane show fade">
                       <div class="title-service">Essay Counselor
                       </div>
                       <div>
                         <div>
                         </div>
                       </div>
                       <div class="price_service">
                         <span class="price-title">Price</span>
                         <span class="price">???</span>
                       </div>
                     </div>
                     <div class="tab-pane show fade">
                       <div class="title-service">Strategist</div>
                        <div>
                          <div>
                          </div>
                        </div>
                        <div class="price_service">
                          <span class="price-title">Price</span>
                          <span class="price">???</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div  class="information col-md-8">
          <div id="introduce-section" class="introduce-section">
            <h2  class="title">About</h2>
            <p  class="intro">
              {{object.description}}
            </p>
          </div>
          <div id="degree-section" class="degree-section">
            <h2 class="title'">Degree</h2>
            <div class="degree-group">
              <div >
                <div class="graduating row">
                <i class="fa fa-graduation-cap"></i>
                <div class="info-graduating">
                  <div class="university-major">
                    <strong class="university-name">{{object.school}}</strong>
                    <span>{{object.major}}</span>
                  </div>
                  <div  class="time-line">
                    <span>{{object.school_start_date}} </span>
                    <span>{{object.school_end_date}} </span>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>
          <div  id="experience-section" class="experience-section">
            <h2  class="title">Experience</h2>
            <div  class="experience-group">
              <div>
                <div class="experience row">
                  <i  class="fa fa-circle"></i>
                  <div  class="info-experience">
                    <div  class="experience-major">
                      <strong  class="company-name">{{object.employer}}
                      </strong>
                      <span >{{object.title}}</span>
                    </div>
                    <div  class="time-line">
                      <span >2017-09-01 - </span>
                      <span >2018-12-01</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    </fade-transition>
  </main>

{% endblock content %}
