{% extends "base.html" %}

{% block content %}


  <main>

    <!--Carousel Wrapper-->

    <div class="section-header">
      <div class="title_page">Mentor Network</div>
    </div>
    <!--/.Carousel Wrapper-->


    <div class="container">

      <!--Section: Products v.3-->
      <section class="mb-4">

        <div class="network-counselors-content container">

          <!--Grid column-->
          <div class="col-md-4">
            <form class="form-group" action="{% url 'mentor:search' %}" method="get">
                <label> Finding by name</label>
                <div class="input-group mb-4">
                  <input name="name" placeholder=" Search" aria-label="Name Search">
                  <div class="input-group-prepend">
                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>

            <form class="form-group" action="{% url 'mentor:search' %}" method="get">
                <label> Finding by major</label>
                <div class="input-group mb-4">
                  <input name="major" placeholder=" Search" aria-label="Major Search">
                  <div class="input-group-prepend">
                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>

            <form class="form-group" action="{% url 'mentor:search' %}" method="get">
                <label> Finding by location</label>
                <div class="input-group mb-4">
                  <input name="state" placeholder=" Search" aria-label="Location Search">
                  <div class="input-group-prepend">
                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>

            <form class="form-group" action="{% url 'mentor:search' %}" method="get">
                <label> Finding by school</label>
                <div class="input-group mb-4">
                  <input name="school" placeholder=" Search" aria-label="School Search">
                  <div class="input-group-prepend">
                    <button type="submit">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
            </form>


          </div>

          <div class="col-md-8">

            <div class="col">

            {% for item in object_list %}
            <div class="counselors row">

                <div class="counselor-image">
                  {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"> {% endcomment %}
                  <div class="avatar-counselor">
                    <a href="{{ item.get_absolute_url }}">
                      <img src="{{ item.image.url }}" class="card-img-top">
                    </a>
                  </div>
                  <div class="name-counselor">
                    {{ item.name }}
                  </div>
                </div>

                <div class="counselor-about">
                  <div class="element-info">
                    <i class="fas fa-user ml-2 mr-4"></i> Employer: {{item.employer}}
                  </div>
                  <div class="element-info">
                    <i class="fas fa-bookmark ml-2 mr-4"></i> Degree: {{item.get_degree_display}}
                  </div>
                  <div class="element-info">
                    <i class="fas fa-graduation-cap ml-2 mr-3"></i> School: {{item.school}}
                  </div>
                  <div class="element-info">
                    <i class="fas fa-map-marker-alt ml-2 mr-4"></i> Location: {{item.address.state}}, {{item.address.country}}
                  </div>
                  <div class="button-element">
                     <a href="{{ item.get_absolute_url }}" class="btn button color_button">
                       <i class="fa fa-arrow-right"></i>
                     </a>
                  </div>

                </div>


            </div>
            {% endfor %}
            </div>

          </div>
      </div>

      </section>
      <!--Section: Products v.3-->

      <!--Pagination-->

      {% if is_paginated %}
      <nav class="d-flex justify-content-center wow fadeIn">
        <ul class="pagination pg-blue">

          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% endif %}

          <li class="page-item active">
            <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      {% endif %}

    </div>
  </main>

{% endblock content %}

