{% extends "base.html" %}

{% block content %}


  <main>

    <!--!&#45;&#45;Carousel Wrapper&ndash;&gt;-->

    <div class="section-header">
      <div class="title_page"> Tutor </div>
    </div>


    <div class="content-section">
      <div class="content-header">Challenges</div>
      <div class="content-body"> The journey to the US begins with having a solid base of conversational English. After that, you will also need reading and analytical skills, thinking in English to pass SAT or ACT exams - one of the requirements is almost mandatory if you want to get financial support. major from major universities.

 </div>
      <br>
      <br>
      <div class="content-header"> Our Solution </div>
      <div class="content-body">
      Through SkillSHARE, we will connect you with international students who have scored well on standardized tests and have strong teaching experience, to help you achieve your best. The exams that the SkillSHARE system supports include:
      </div>

      <div class="content-row">
           <div class="content-col">
                <div class="content-title"> TOEFL </div>
           </div>
      </div>



  </main>

{% endblock content %}


