{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="pt-4">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/userprofile.css' %}" rel="stylesheet">
    <div class="container">
        <div class="row col-sm-12">
            <div class="col-sm-12 col-sm-offset-2">
                <div class="panel panel-white profile-widget">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="image-container bg2">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar" alt="avatar">
                            </div>
                        </div>
                        <div class="col-sm-12">

                            <div class="details">
                                <h4>{{object.first_name}} {{object.last_name}} <i class="fa fa-sheild"></i></h4>
                                <div>{{object.description}}</div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-12">

                        <div class="panel panel-white border-top-purple">
                           <div class="panel-heading">
                                <h3 class="panel-title">My Story</h3>

                            </div>
                            <div class="panel-body">

                                    <form method="POST" enctype = "multipart/form-data">
                                        {% csrf_token %}
                                        <fieldset class="form-group">
                                            <legend class="border-bottom mb-4">Profile Info</legend>
                                            {% for field in p_form.visible_fields %}
                                            <h5 class="section-heading">{{field.label_tag}}</h5>
                                            {{ field }}

                                            {% endfor %}

                                        </fieldset>
                                        <div class="form-group">
                                            <button class="btn btn-purple btn-sm" type="submit">Update</button>
                                        </div>
                                     </form>
<!--                                <div class="body-section">-->
<!--                                    <h5 class="section-heading">Introduction</h5>-->
<!--                                    <p class="section-content">Put a little about yourself here so people know they've found the correct Kevin.</p>-->
<!--                                </div>-->
<!--                                <div class="body-section">-->
<!--                                    <h5 class="section-heading">Acheivements</h5>-->
<!--                                    <p class="section-content">Examples: survived high school, have 3 kids, etc.</p>-->
<!--                                </div>-->
                            </div>
                        </div>

<!--                        <div class="panel panel-white border-top-light-blue">-->
<!--                           <div class="panel-heading">-->
<!--                                <h3 class="panel-title">Experience</h3>-->
<!--                                <div class="controls pull-right">-->
<!--                                    <span class="pull-right clickable">-->
<!--                                        <i class="fa fa-chevron-up"></i>-->
<!--                                    </span>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="panel-body">-->
<!--                                <div class="body-section">-->
<!--                                    <h5 class="section-heading">Current Plan: Basic Plan</h5>-->
<!--                                    <p>Your next charge is $100 due May 12, 2014</p>-->
<!--                                    <ul>-->
<!--                                        <li>400 Orders/Month</li>-->
<!--                                        <li>10 GB storage</li>-->
<!--                                        <li>5 Users</li>-->
<!--                                        <li>Mobile App Access</li>-->
<!--                                    </ul>-->
<!--                                </div>-->
<!--                                <div class="body-section">-->
<!--                                    <a href="#" class="btn btn-info btn-sm">Upgrade Account</a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->

                    </div>

                </div>

            </div>

        </div>
    </div>
</main>

{% endblock content %}